@model PrettyLog.Core.DataAccess.LogDto

@section scripts
{
    <link href="~/Content/css/table.css" rel="stylesheet" />
    <style type="text/css">
        /* common */
        .mark-water {
            color: #bbb;
        }
        /* eof common */

        /* node */
        .node-content-wrapper {
            font-family: 'Quicksand', sans-serif;
            background-color: #fff;
        }

            .node-content-wrapper ul {
                border-left: 1px dotted #ccc;
                list-style: none;
                padding-left: 25px;
                margin: 0px;
            }

                .node-content-wrapper ul li {
                    list-style: none;
                    border-bottom: 0;
                    padding-bottom: 0;
                }

        .node-hgl-path {
            background-color: #fefbdf;
        }

        .node-bracket {
            font-weight: bold;
            display: inline-block;
            cursor: pointer;
        }

            .node-bracket:hover {
                color: #999;
            }
        /* eof node */

        /* leaf */
        .leaft-container {
            width: 100%;
            max-width: 300px;
            height: 100%;
        }

        .title {
            color: #ccc;
        }

        .string {
            color: #080;
        }

        .number {
            color: #ccaa00;
        }

        .boolean {
            color: #1979d3;
        }

        .date {
            color: #aa6655;
        }
        /* eof leaf */
    </style>


    <script type="text/javascript">
        $(document).ready(function () {

            var NumberLong = function (x) { return x; };
            var CSUUID = function (x) { return x; };
            var ISODate = function (x) { return x; };

            var json = JSON.stringify(@Html.Raw(Model.ObjectJson));

            var o;
            try { o = JSON.parse(json); }
            catch (e) {
                alert('not valid JSON');
                console.log(e);
                return;
            }

            var node = new PrettyJSON.view.Node({
                el: $('#ObjectJson'),
                data: o,
                dateFormat: "DD/MM/YYYY - HH24:MI:SS"
            });

            $("#expandAll").click(function () {
                node.expandAll();
            });

            $("#collepseAll").click(function () {
                node.collapseAll();
            });

        });
    </script>
}


<div class="CSSTableGenerator">
    <table>
        <tr>
            <td>Type</td>
            <td>Message</td>
            <td>Ip</td>
            <td>Host</td>
            <td>Url</td>
            <td>ApplicationName</td>
            <td>Id</td>
            <td>ThreadId</td>
            <td>TimeStamp</td>
        </tr>

        <tr>
            <td>@Model.Type</td>
            <td>@Model.Message</td>
            <td>@Model.Ip</td>
            <td>@Model.Host</td>
            <td>@Model.Url</td>
            <td>@Model.ApplicationName</td>
            <td>@Model.Id</td>
            <td>@Model.ThreadId</td>
            <td>@Model.TimeStamp</td>
        </tr>
    </table>
</div>


<br />


<br />

<a href="javascript:;" id="expandAll">Expand ALL</a> - <a href="javascript:;" id="collepseAll">Collepse ALL</a>
<br />
<p style="font: bold">Object</p>
<div id="ObjectJson">
    @Model.ObjectJson
</div>
