@model PrettyLog.Core.DataAccess.LogDto

@section scripts
{
    <style type="text/css">
        /* common */
        .mark-water {
            color: #bbb;
        }
        /* eof common */

        /* node */
        .node-content-wrapper {
            font-family: 'Quicksand', sans-serif;
            background-color: #fff;
        }

            .node-content-wrapper ul {
                border-left: 1px dotted #ccc;
                list-style: none;
                padding-left: 25px;
                margin: 0px;
            }

                .node-content-wrapper ul li {
                    list-style: none;
                    border-bottom: 0;
                    padding-bottom: 0;
                }

        .node-hgl-path {
            background-color: #fefbdf;
        }

        .node-bracket {
            font-weight: bold;
            display: inline-block;
            cursor: pointer;
        }

            .node-bracket:hover {
                color: #999;
            }
        /* eof node */

        /* leaf */
        .leaft-container {
            width: 100%;
            max-width: 300px;
            height: 100%;
        }

        .title {
            color: #ccc;
        }

        .string {
            color: #080;
        }

        .number {
            color: #ccaa00;
        }

        .boolean {
            color: #1979d3;
        }

        .date {
            color: #aa6655;
        }
        /* eof leaf */
    </style>


    <script type="text/javascript">
        $(document).ready(function () {

            var NumberLong = function (x) { return x; };
            var CSUUID = function (x) { return x; };
            var ISODate = function (x) { return x; };

            var json = JSON.stringify(@Html.Raw(Model.ObjectJson));

            var o;
            try { o = JSON.parse(json); }
            catch (e) {
                alert('not valid JSON');
                console.log(e);
                return;
            }

            var node = new PrettyJSON.view.Node({
                el: $('#ObjectJson'),
                data: o,
                dateFormat: "DD/MM/YYYY - HH24:MI:SS"
            });

            $("#expandAll").click(function () {
                node.expandAll();
            });
            
            $("#collepseAll").click(function () {
                node.collapseAll();
            });
            
        });
    </script>
}

<br />

<table width="100%">
    <tr>
        <th>Type</th>
        <th>Message</th>
        <th>Ip</th>
        <th>Host</th>
        <th>Url</th>
        <th>ApplicationName</th>
        <th>Id</th>
        <th>ThreadId</th>
        <th>TimeStamp</th>
    </tr>
    <tr>
        <th>@Model.Type</th>
        <th>@Model.Message</th>
        <th>@Model.Ip</th>
        <th>@Model.Host</th>
        <th>@Model.Url</th>
        <th>@Model.ApplicationName</th>
        <th>@Model.Id</th>
        <th>@Model.ThreadId</th>
        <th>@Model.TimeStamp</th>
    </tr>
</table>

<br />

<a href="javascript:;" id="expandAll">Expand ALL</a> - <a href="javascript:;" id="collepseAll">Collepse ALL</a>
<br />
<p style="font: bold">Object</p>
<div id="ObjectJson">
    @Model.ObjectJson
</div>
