<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox-buttons.css" rel="stylesheet" />
    <link href="~/Content/css/prettylog.css" rel="stylesheet" />

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="~/Scripts/jquery.slidePanel.min.js"></script>
    <script src="/Scripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.fancybox.js"></script>

    <script src="~/Scripts/prettyJson/underscore-min.js"></script>
    <script src="~/Scripts/prettyJson/backbone-min.js"></script>
    <script src="~/Scripts/prettyJson/pretty-json-min.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        function toggleQueryPanel()
        {
            $('#header').toggle(100);
            editor.focus();
        }
        $(document).ready(function ()
        {
            $(document).keydown(function (e)
            {
                if (e.keyCode == 27)
                {
                    toggleQueryPanel();
                }
                if (e.ctrlKey && e.keyCode == 222)
                {
                    toggleQueryPanel();
                }

                if (e.ctrlKey && e.keyCode == 192)
                {
                    toggleQueryPanel();
                }
            });
        });
    </script>

</head>
<body style="margin-top: 50px; margin-bottom: 300px; background-color: #efefef">

    <div id="header" class="fixed" style="display: block; padding: 10px; bottom: 0px">

        <div class="inner">
            <p style="display: inline">
                Press ESC to toggle query panel. CTRL + ENTER to query.
            </p>

            <div id="queryDesc" style="width: 100%">
                <select id="range">
                    <option value="1hour">Last Hour</option>
                    <option value="6hour">Last 6 Hour</option>
                    <option value="12hour">Last 12 Hour</option>
                    <option value="1day">This Day</option>
                    <option value="7day">This Week</option>
                    <option value="14day">This 2 Week</option>
                    <option value="30day">This Month</option>
                </select>

                <a href="javascript:;" id="btnQuery">Query</a>
            </div>

            <pre id="editor">
{

    Type : {$not : /pretty.agent/}
                


}

            </pre>
            <div id='hits' class="hits"></div>
        </div>
    </div>

    @{
        Html.RenderPartial("PrettyHeader");
    }
    @RenderBody()
</body>
</html>
