<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox-buttons.css" rel="stylesheet" />
    <link href="~/Content/css/prettylog.css" rel="stylesheet" />

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="/Scripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.fancybox.js"></script>

    <script src="~/Scripts/prettyJson/underscore-min.js"></script>
    <script src="~/Scripts/prettyJson/backbone-min.js"></script>
    <script src="~/Scripts/prettyJson/pretty-json-min.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function ()
        {
            $(document).keydown(function (e)
            {
                if (e.ctrlKey && e.keyCode == 222)
                {
                    $('#header').toggle(100);
                }

                if (e.ctrlKey && e.keyCode == 192)
                {
                    $('#header').toggle(100);
                }
            });
        });
    </script>

</head>
<body style="margin: 0; padding: 0; background-color: #dfdfdf">


    <div id="header" class="fixed" style="display: block; top: 0; padding: 10px">
        <div class="inner">
            <div style="width: 100%; color: steelblue; font-family: monospace; font-size: 12pt; text-align: center">pretty.log (alpha)</div>
            <p>
                Press CTRL + ' or CTRL + " to toggle query panel. You can press CTRL + ENTER to change query after fill the text below.
            </p>
            <div id="queryFilters"></div>
            <div id="queryDesc" style="width: 100%">
                <div id='hits' class="hits"></div>
                <a href="javascript:;" id="btnNewQuery">New Query</a>
                <select id="range">
                    <option value="1hour">Last Hour</option>
                    <option value="6hour">Last 6 Hour</option>
                    <option value="12hour">Last 12 Hour</option>
                    <option value="1day">This Day</option>
                    <option value="7day">This Week</option>
                    <option value="14day">This 2 Week</option>
                    <option value="30day">This Month</option>
                </select>

                <a href="javascript:;" id="btnQuery">Query</a>
            </div>

            <div id="queryPanel">
                <pre id="editor">
{

    Type : /.*/

}</pre>
            </div>



        </div>
    <div class="shadow" style="display: block;"><span></span></div>
    </div>
    @RenderBody()
</body>
</html>
